canvas{
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;


}
button{
    font-size: 35px;
    color: green
}

h5{
    color : blueviolet;
    font-size: 15px;
    position : absolute;
    top : 90%;

};