header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/a502748f1f97c53a9447200eb8c6fdfa.jpg);
    height: 200vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;

}

ul li {
    display: inline-block;

}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    
}

ul li a:hover{
    background-color: #fff;
    color: #000;

}
h2{
    position: absolute;
    color: #fff;
    top: 19%;
    font-size: 40px;
    left: 45%;
    

}

.hitbear h3{
    position: absolute;
    top: 36%;
    color: orange;
    left: 15%;
    font-size: 40px;

}

.hitbear h5{
    color: rgba(235, 66, 0, 0.671);
    top: 45%;
    position: absolute;
    left: 15%;
    font-size: 20px;
    
}

.hitbearpresstoplay {
    position: absolute;
    color: orangered;
    top: 47%;
    left: 30%;

}

.hitbearphoto{
    position: absolute;
    top: 60%;
    left: 14%;

}
.login_signup{
    position: absolute;
    font-size: 15px;
    left: 78%;
    top: 9%;
}

.gravity h3{
    position: absolute;
    top: 87%;
    color: #ff0fff;
    left: 15%;
    font-size: 40px;


}


.gravity h5{
    color: #ff00ff;
    position: absolute;
    top: 99%;
    left: 15%;
    font-size: 20px;
}

.gravitypresstoplay{
position: absolute;
color: palevioletred;
top: 101%;
left: 30%;

}

.gravityphoto{
    position: absolute;
    top: 109%;
    left:13%;
    padding: 20px 20px;
    font-size: 2px;
    
}