canvas{
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;


}
button{
    font-size: 19px;
    color: green;
   
}



ul{
    position: absolute;
    font-size: 25px;
    list-style-type: none;
    color: #cc00ff;
    border-style: solid

    



}