header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/a502748f1f97c53a9447200eb8c6fdfa.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.contact{
    Position : absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%-50%);
    color: #fff


}
h1{
    float: left;
    padding:5px 20px;
    color: #fff;
    border-style: inset;
}
.back {
    position: absolute;
    color: #0fccff

}

h4{
    position: absolute;
    top: 25%;
    left: 48%;
    color: #fff;
    border-style: inset   

}


ul{
    float: right;
    list-style-type: none;

}

ul li {
    display: inline-block;

}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    
}

ul li a:hover{
    background-color: #fff;
    color: #000;

}

.title{
    position: absolute;
    top: 35%;
    left: 34%;
    transform: translate(-50%-50%);
    color: orange
}

.title h2{
    color: #fff;
    font-size: 50px;
    left: 20%;
    color: orange

}

.titlebutton{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.button{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
}

.titlepicture{
    position: absolute;
    top: 15%;
    left : 40%
}



